<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Short Scoop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../_css/bootstrap.css">
    <link rel="stylesheet" href="../_css/bootstrap-icons.css">
    <link rel="stylesheet" href="../_css/prism-okaidia.css">
    <link rel="stylesheet" href="../_css/custom.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BNTPQ836C5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BNTPQ836C5');
    </script>
  </head>